.*.sw[nop]
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in~
config.log
config.status
configure
data/Makefile
data/Makefile.in
doc/Makefile
doc/Makefile.in
doc/bbkeys.1
rpm/Makefile
rpm/Makefile.in
rpm/bbkeys.spec
scripts/
src/.deps/
src/Config.o
src/FileTokenizer.o
src/KeyClient.o
src/KeyGrabber.o
src/Makefile
src/Makefile.in
src/Netclient.o
src/ScreenHandler.o
src/WindowlistMenu.o
src/actions.o
src/bbkeys
src/keytree.o
src/main.o
src/window.o
stamp-h1
version.h
bbkeys-*.tar.xz
configure.ac.bak
config.h.in
README.txt
README.html
cscope.files
cscope.out
